div.container 
   {width: 100%;
    border: 0px solid gray;}
 
header 
   {padding: 1em;
    color: chocolate;
    background-color: darkslategrey;
    clear: left;
    text-align: center;
    font-family:"serif";
    text-shadow: -3px 3px black;
    color: darksalmon;
    letter-spacing: 3px;
    text-decoration: overline;
    font-size: 28px;}
	
	{input[type="text"] 
	 box-sizing: border-box;
      border: 1px solid black;
      border-radius: 4px;
      outline:none;
      padding: 12px 14px;
	  input[type="text"]:
	  width:500px;
	  background-color:peru;}
    
footer 
   {padding: 1em;
    color: darksalmon;
    background-color: darkslategrey;
    clear: left;
    text-align: right;
    font-family:"serif";
    text-shadow: -1px 1px black;
    color: lightsalmon;
    letter-spacing: 1px;
    text-decoration: overline;
    font-size: 18px}
 
nav 
   {float: left;
    max-width: 220px;
    margin: 0;
    padding: 4em;}
 
nav ul 
   {list-style-type: disc;
    padding: 5;
	border: 1px solid}
    
nav ul a 
   {text-decoration: none;
	color: peru;
	font-family: courier;
	font-size: 20px;
    line-height: 2.5;}
 
article 
   {margin-left: 100px;
    border-left: 1px solid gray;
    padding: 3em;
    overflow: hidden;
    color: white;
    font-family:"Helvetica";
	font-size: 20px;
	text-shadow: -1px 1px darkslategrey;
	line-height: 2.0;}
article1
   {color: white;
    font-family:"Perpetua";
	font-size: 26px;
	text-shadow: -1px 1px white;
	line-height: 2.0;
    text-align: center;
	line-height: 1.0;}
    mark 
   {background-color: black;
    color: white;}
